@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.container {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    color: #8486D1;
}

/*.top-header {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

span {
    color: pink;
    font-size: small;
    margin-top: 10px;
    /* Adjusted margin for better spacing */
    display: flex;
    justify-content: center;
}

.header-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    margin-bottom: 15px;
    flex-direction: column;
}

.signup-item, .signup-item {
    margin-right: 5px; /* Adjust the margin between logo and login text */
}

.logo {
    height: 150px;
    width: 265px;
    margin-top: 2rem;
}

.login-text {
    color: #8486D1;
    font-size: 30px;
    align-self: flex-end;
    /*margin-top: 5px; /* Align login text to the flex-end */
}

.input-field {
    display: flex;
    flex-direction: column;
    position: relative;
    /* Added position relative */
    margin-top: 15px;
}

.input-field .input {
    height: 45px;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: black;
    padding: 0 0 0 42px;
    background: rgba(232, 155, 212, 0.1);
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 17px;
    color: #8486D1;
}

::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.7);
}

.submit {
    border: 1px solid #e2d8e0;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s;
    color: #8486D1;
}

.submit:hover {
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}