body {
  font-family: 'Arial', sans-serif;
  background-color: rgba(232, 155, 212, 0.1);
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;
}

h1 {
  color: #8486D1;
}

#musicList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#musicList li {
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #e2d8e0;
  border-radius: 30px;
  padding: 15px;
  margin: 10px;
  color: #8486D1;
  transition: 0.3s;
  display: flex;
  align-items: center;
}

#musicList li i {
  margin-right: 10px;
}

#musicList li:hover {
  background-color: #8486D1;
  color: #fff;
}

.stars {
  position: absolute;
  right: 10px; /* Adjust as needed */
}

.delete-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #8486D1;
  transition: color 0.3s;
}

#musicList li:hover .delete-icon {
  color: #fff;
}

.song-info {
  margin-right: 15px; /* Adjust the value as needed */
}

.add-music-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #e2d8e0;
  border-radius: 30px;
  padding: 15px;
  margin: 0;
  color: #8486D1;
  text-align: center;
}

.add-music-form h2 {
  color: black;
}

.song-box {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.song-box label {
  margin-right: 10px;
}

.song-box input {
  padding: 8px;
  border: 1px solid #8486D1;
  border-radius: 5px;
}

#submitMusic {
  background-color: #8486D1;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#submitMusic:hover {
  background-color: #6b6cbb;
}


.dropdown {
  display: inline-block;
  position: relative;
  z-index: 1; /* Ensure the dropdown is above other elements */
}

.dropbtn {
  background-color: #8486D1;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #e2d8e0;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 2; /* Ensure the dropdown content is above other elements */
  padding: 15px;
  text-align: center;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content button,
.dropdown-content input {
  background-color: #8486D1;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.dropdown-content button:hover,
.dropdown-content input:hover {
  background-color: #6b6cbb;
}

.dropdown-content #exportData {
  background-color: #8486D1;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-content #exportData:hover {
  background-color: #6b6cbb;
}